[Unit]
Description=Gunicorn instance to serve esp32ota
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/home/esp32ota-backend
Environment="PATH=/home/esp32ota-backend/env/bin"
ExecStart=/home/esp32ota-backend/env/bin/gunicorn --config gunicorn.conf.py wsgi:app


[Install]
WantedBy=multi-user.target