{% extends 'index.html' %}
{% block scripthead %}

<script>
    response_code = parseInt("{{response_code}}")
    response_message = "{{response_message}}"
    {% if response_code == 200 %}
    console.log({{response_data|tojson}})
    // document.location = "/home"
    alert(`Organization Added \n` + `{{ response_data| tojson}}`)
    {% endif %}
    {% if response_code == 4003 %}
    alert(`Validation Failed - Please recheck submitted data\n` + `{{ response_data| tojson}}`)
    console.log({{ response_data| tojson}})
    {% elif response_code != 200 %}
    // alert(`Error \n` + `{{ response_message}}`)
    {% endif %}
</script>
{% endblock %}
{% block content %}





<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container">


            <div class="row">
                <div class="col-xs-12">
                    <div class="page-title-box">
                        <h4 class="page-title">Add Organizations</h4>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <!-- end row -->


            <div class="row">
                <div class=" col-sm-12">
                    <form id="addLeadForm" class="form-horizontal">
                    <div class="card-box">
                        <div class="row">
                            <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Organization Name*</label>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control" name="name"
                                                placeholder="Organization Name" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">CP Name*</label>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control" name="cp_name" placeholder="Contact Person Name" required>
                                        </div>
                                    </div>
                                    <div id="phone-section" required>

                                </div>
                                    <div class="form-group">
                                        <a href="#" id="addbtn">
                                        <i class="mdi mdi-plus-circle-outline"> </i></a>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-2 control-label">CP Email*</label>
                                        <div class="col-md-10">
                                            <input type="email" class="form-control" name="cp_email"
                                                placeholder="Contact Person Email" required>
                                        </div>
                                    </div>
                            </div>

                            <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Address*</label>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control" name="address"
                                                placeholder="Address" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">City*</label>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control" name="city" placeholder="City" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Country*</label>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control" name="country"
                                                placeholder="Country" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">NTN</label>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control" name="ntn"
                                                placeholder="National Tax Number">
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>

                    <div class ="text-right">
                        <button class="text-right btn btn-success">Save</button>
                    </div>
                </div>
            </div>
            <!-- end row -->
        </div> <!-- container -->

    </div> <!-- content -->



</div>
<script>
    var phoneFieldCount = 1;
    var phoneFieldObjects = [];
    $('#phone-section').append(`                                   
            <div id="phone${phoneFieldCount}" class="form-group">
            <label class="col-md-2 control-label">Phone Number</label>
            <div class="col-md-10">
                <input id="phoneField${phoneFieldCount}" type="text" class="form-control">
            </div>
            </div>`)
    var input = document.querySelector("#phoneField" + phoneFieldCount);
    phoneFieldObjects.push(window.intlTelInput(input, {
        autoPlaceholder:"polite",
        formatOnDisplay:true,
        initialCountry:"pk",
        placeholderNumberType:"MOBILE",
        preferredCountries: ["pk","ae","sa","us","gb" ],
        utilsScript: "{{ url_for('static', filename='js/utils.js') }}",
      }));

    function removebtn(ref){
        $("#phone" + ref).remove();
        delindex = phoneFieldObjects.findIndex((field) => field.id==ref)
        phoneFieldObjects.splice((delindex-1),1)
    };

    $('#addbtn').click(function () {
        phoneFieldCount += 1;
        $('#phone-section').append(`                                   
            <div id="phone${phoneFieldCount}" class="form-group">
            <label class="col-md-2 control-label">Phone Number</label>
            <div class="col-md-10">
                <input id="phoneField${phoneFieldCount}" type="text" class="form-control">
                <a href="javascript:removebtn(${phoneFieldCount})" id="removebtn" style="font-size: 20px">
                                        <i class="mdi mdi-close-circle-outline"></i></a>
            </div>
            </div>`)
        var input = document.querySelector("#phoneField" + phoneFieldCount);
        phoneFieldObjects.push( window.intlTelInput(input, {
            autoPlaceholder:"polite",
            formatOnDisplay:true,
            initialCountry:"pk",
            placeholderNumberType:"MOBILE",
            preferredCountries: ["pk","ae","sa","us","gb" ],
            utilsScript: "{{ url_for('static', filename='js/utils.js') }}",
        }));
        console.log(phoneFieldObjects);
    });
    const addLeadFormDOM = $("#addLeadForm")
    addLeadFormDOM.submit(function (event) {
        event.preventDefault();
        let formData = {}
        addLeadFormDOM.serializeArray().forEach(({ name, value }) => name !== "phone_number" ? formData[name] = value : formData[name] = [...(formData[name] || [] ), value] )
        var numbers = [];
        for (let i = 0; i < phoneFieldObjects.length; i++) {
            numbers.push(phoneFieldObjects[i].getNumber())
        }
        formData["cp_contact_number"] = numbers;
        console.log("formData",formData);
        $.ajax("/api/organizations/create", {
        method: "POST",
        data: JSON.stringify(formData),
        contentType: "application/json",
        success: function (data) {
            console.log(data, "data")
            if (data.response_code == 200) {
                alert('Organization Added Successfully')
                setTimeout(function () {// wait for 5 secs(2)
                location.reload(); // then reload the page.(3)
                }, 300);
            }
            else {
                alert(data.response_message);
            }
        },
        error: function (error) {
            console.log(error, "error")

        }
        })
    })
        
</script>
{% endblock %}